/* Header settings */
header {
    background-color: red;
    display: flex;
    flex: 100%;
}

.div-image-logo {
    width: 100%;
    height: 70px;
    padding-left: 10px;

    display: flex;
    justify-content: center;
}

.logo-flex-gym {
    height: 70px;
    width: 70px;
}

/* Section 1 about us */

.about-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin-top: 10px;
}

.div-main-image {
    width: 95%;
    height: 100%;
}

.main-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.about-div {
    width: 100%;
    height: 100%;
}

.about-div > h1 {
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;
}

.about-div > p {
    padding: 5px 10px;

    text-align: justify;
}

/* Section 2 localization */

.locale-section {
    margin-top: 50px;
}

.locale-div { 
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.locale-div > h1 {
    text-align: center;
    padding-bottom: 20px;
}

.locate-image {
    width: 95%;
    border-radius: 5px;
}

.locale-div > p {
    text-align: justify;
    padding: 15px 10px;
}

.container-flex-button {
    width: 100%;

    display: flex;  
    justify-content: center; 
}

.button-google-maps {
    background-color: rgb(138, 27, 27);
    border-radius: 10px;
    color: white;
    font-size: 14pt;
    width: 55%;
    height: 70px;
    margin-bottom: 40px;
}

.button-google-maps > a {
    text-decoration: none;
    color: white;
}

/* Contact Section */

.contact-section > h1{
    text-align: center;
    margin-bottom: 20px;
} 

.buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    margin-bottom: 20px;
}

.button-whatsapp {
    background-color: #29a71a;
    border-radius: 10px;
    
    width: 16%;
    height: 63px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-instagram {
    background: linear-gradient(rgb(255, 85, 85), rgb(124, 124, 255));
    border-radius: 10px;
    
    min-width: 17%;
    height: 63px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 2px;
}

.button-whatsapp > a,  .button-whatsapp > a > img {
    width: 60px;
    height: 60px;
}

.button-instagram > a, .button-instagram > a > img {
    width: 40px;
    height: 40px;
}

.arnold-div {
    display: flex;
    justify-content: center;
    
    margin-top: 10px;
}

.arnold-div > img {
    width: 85%;
    height: 95%;
    
    border-radius: 2px;
}

/* Footer */
footer {
    margin-top: 13px;
    background-color: #bb1f1f;
    color: white;

    width: 100%;
    height: 7%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer > p > a {
    text-decoration: none;
    color: white;
}